body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    margin-top: 20px;
}

button {
    position: relative;
    z-index: 10;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    pointer-events: auto;
}

    button:hover {
        background-color: #0056b3;
    }

#save-button {
    margin-top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

#back-button {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
